title=Графическое моделирование
date=2018-12-11
type=post
tags=lec
status=published
~~~~~~

<p class="c-text"><!--text-->Графический метод является простым, наглядным, универсальным и экономичным методом описания потоков информации на макроуровне.</div>

<p class="c-text"><!--text-->Виды моделей в графическом моделировании:</p>

<ul>
  <li>табличные</li>
  <li>иерархические
  <li>семантические</li>
  <li>графы</li>
</ul>

<p class="c-text"><!--text-->В табличной модели перечень однотипных объектов или свойств размещены в первом столбце (или строке) таблицы, а значения их свойств размещаются в следующих столбцах (или строках) таблицы.</p>

<p class="c-text"><!--text-->Таблица типа «<em>объект—свойство</em>»: в одной строке содержится информация об одном объекте или одном событии.</p>

<p class="c-text"><!--text-->Таблица типа «<em>объект—объект</em>»: отражают взаимосвязи между разными объектами.</p>

<p class="c-text"><!--text-->Таблица типа «<em>двойная матрица</em>»: отражают качественный характер связи между объектами.</p>

<table class="c-table c-table__width--full">
 <tr>
  <td class="c-table__cell c-table__cell-outer">
   <table class="c-table c-table__width--full">
    <tr>
     <th class="c-table__head">Дата</th>
     <th class="c-table__head">Осадки</th>
     <th class="c-table__head">Темп</th>
    </tr>
    <tr>
     <td class="c-table__cell">15.03</td>
     <td class="c-table__cell">снег</td>
     <td class="c-table__cell">&minus;15</td>
    </tr>
    <tr>
     <td class="c-table__cell">16.03</td>
     <td class="c-table__cell">дождь</td>
     <td class="c-table__cell">&minus;20</td>
      </tr>
    </table>
    </td>
    <td class="c-table__cell c-table__cell-outer">
     <table class="c-table c-table__width--full">
      <tr>
       <th class="c-table__head">Ученик</th>
       <th class="c-table__head">Русский</th>
       <th class="c-table__head">Алгебра</th>
      </tr>
      <tr>
        <td class="c-table__cell">Иванов</td>
        <td class="c-table__cell">4</td>
        <td class="c-table__cell">4</td>
      </tr>
      <tr>
        <td class="c-table__cell">Сидоров</td>
        <td class="c-table__cell">5</td>
        <td class="c-table__cell">3</td>
      </tr>
     </table>
     </td>
    <td class="c-table__cell c-table__cell-outer">
     <table class="c-table c-table__width--full">
      <tr>
       <td class="c-table__cell">&nbsp;</td>
       <th class="c-table__head">1</th>
       <th class="c-table__head">2</th>
      </tr>
      <tr>
       <th class="c-table__head">1</th>
       <td class="c-table__cell">1</td>
       <td class="c-table__cell">2</td>
      </tr>
      <tr>
       <th class="c-table__head">2</th>
       <td class="c-table__cell">2</td>
       <td class="c-table__cell">4</td>
      </tr>
     </table>
     </td>
    </tr>
    <tr>
     <td class="c-table__cell c-table__cell-outer">Таблица типа «объект—свойство»</td>
     <td class="c-table__cell c-table__cell-outer">Таблица типа «объект—объект»</td>
     <td class="c-table__cell c-table__cell-outer">Таблица типа «двойная матрица»</td>
   </tr>
</table>
