title=Понятие модели и моделирования
date=2018-12-01
type=post
tags=lec
status=published
~~~~~~


<p class="c-text"><!--text-->
В своей деятельности человек повсеместно использует модели, то есть создает образ, копию того объекта, с которым ему приходится иметь дело. Продумывая план действий, представляя результат своих действий, человек строит модель на уровне мысли.</p>

<div class="c-define"><dfn class="c-definition">Модель</dfn> — это искусственно созданный объект, дающий упрощенное представление о реальном объекте, процессе или явлении, отражающий существенные стороны изучае-мого объекта с точки зрения цели моделирования.</div>

<div class="c-define"><dfn class="c-definition">Моделирование</dfn> — это построение моделей, предназначенных для изучения и исследования объектов, процессов или явлений.</div>

<p class="c-text"><!--text-->Объект, для которого создается модель, называют оригиналом или прототипом. Любая модель не является абсолютной копией своего оригинала, она лишь отражает некото-рые его качества и свойства, наиболее существенные для выбранной цели исследования. При создании модели всегда присутствуют определенные допущения и гипотезы.</div>

<p class="c-text"><!--text--><em>Моделирование</em> (эксперимент) может быть незаменимо. Мы не можем, например, устроить ядерную катастрофу, чтобы выяснить масштабы возможного заражения, а с помощью компьютера возможен расчет (и достаточно точный) интересующих исследователей параметров.</p>

<div class="c-define"><dfn class="c-definition">Моделирование</dfn> — исследование явлений, процессов или систем объектов путем построения и изучения их моделей — это основной способ научного познания.</div>

<p class="c-text"><!--text-->В информатике данный способ называется <em>вычислительный эксперимент</em> и основывается он на трех основных понятиях: <span class="nobr">модель–алгоритм–программа.</p>
