title=Графические имитационные модели
date=2018-12-17
type=post
tags=lec
status=published
~~~~~~


<ol>
  <li>Постройте графическую модель вашей комнаты, указав на ней расположение всех предметов мебели, окон и дверей. Запишите название построенной модели (карта, план, схема, чертёж, график).</li>
  <li>Постройте графическую модель (график) Петиной успеваемости за год (по четвертям) для следующих предметов: физика, химия, алгебра, геометрия.</li>
</ol>

<table class="c-table">
  <caption>Петины оценки:</caption>
  <tr>
    <td class="c-table__cell" width="30%">физика</td>
    <td class="c-table__cell" width="70%">4 5 4 5</td>
  </tr>
  <tr>
    <td class="c-table__cell">химия</td>
    <td class="c-table__cell">3 4 3 4</td></tr>
  <tr>
    <td class="c-table__cell">алгебра</td>
    <td class="c-table__cell">4 4 3 4</td>
  </tr>
</table>

<ol start="3">
  <li>Зарисуйте любой пример графической схемы (кроме примеров, приведённых в учебнике).</li>
</ol>
