title=Информационное моделирование. Модель.
date=2018-12-04
type=post
tags=lec
status=published
~~~~~~


<div class="c-define"><dfn class="c-definition">Модель</dfn> — общенаучное понятие, означающее как идеальный, так и физический объект анализа.</div>

<p class="c-text"><!--text-->Границы между моделями различных типов или классов, а также отнесение модели к какому-то типу или классу чаще всего условны. Рассмотрим наиболее распространенные признаки, по которым классифицируются модели:</p>

<ul>
  <li>цель использования;</li>
  <li>область знаний;</li>
  <li>фактор времени;</li>
  <li>способ представления.</li>
</ul>

<p class="c-text"><!--text--><em>По целям использования</em> выделяются модели учебные, опытные, имитационные, игровые, научно-технические.</p> 

<p class="c-text"><!--text--><em>По области знаний</em> выделяются модели биологические, экономические, исторические, социологические и т.д.</p>

<p class="c-text"><!--text--><em>По фактору времени</em> разделяются модели динамические и статические.</p>

<p class="c-text"><!--text-->Статическая модель отражает строение и параметры объекта, поэтому ее называют также структурной. Она описывает объект в определенный момент времени, дает срез информации о нем.</p>

<p class="c-text"><!--text-->Динамическая модель отражает процесс функционирования объекта или изменения и развития процесса во времени.</p>

<p class="c-text"><!--text-->Любая модель имеет конкретный вид, форму или способ представления, она всегда из чего-то и как-то сделана или представлена и описана. В этом классе, прежде всего, модели рассматриваются как материальные и нематериальные.</p>

<div class="c-define"><dfn class="c-definition">Материальные модели</dfn> — это материальные копии объектов моделирования.</div>

<p class="c-text"><!--text-->Они всегда имеют реальное воплощение, воспроизводят внешние свойства или внутреннее строение, либо действия объекта-оригинала. Примеры: глобус — модель формы земного шара, кукла — модель внешнего вида человека, робот — модель действий человека на вредном производстве. Материальное моделирование использует экспериментальный (опытный) метод познания.</p>

<p class="c-text"><!--text-->Нематериальное моделирование использует теоретический метод познания. По-другому его называют, абстрактным, идеальным. Абстрактные модели, в свою очередь, делятся на воображаемые и информационные.</p>
