title=Графическое моделирование. Типы.
date=2018-12-12
type=post
tags=lec
status=published
~~~~~~


<div class="c-define"><dfn class="c-definition">Иерархическая модель</dfn> — граф, в которой вершины верхнего уровня связаны с вершинами нижнего уровня как «один ко многим»</div>

<div class="c-define"><dfn class="c-definition">Сетевая модель</dfn> — граф, в которой вершины различных уровней связаны между собой по принципу «многие ко многим»</div>

<div class="c-define"><dfn class="c-definition">Семантическая модель</dfn> — модель знаний в форме графа, в основе которой лежит идея о том, что любые знания можно представить в виде совокупности объектов (понятий) и связей (отношений) между ними.</div>

<div class="c-define"><dfn class="c-definition">Граф</dfn> — это средство для наглядного представления состава и структуры системы.</div>

<p class="c-text"><!--text--><img src="../img/object4.png" alt="Графы" width="595" height="290"></p>

<p class="c-text"><!--text-->Табличные информационные модели проще всего формировать и исследовать на компьютере посредством электронных таблиц и систем управления базами данных.</p>
