title=Вопросы для самоконтроля
date=2018-12-21
type=post
tags=lec
status=published
~~~~~~


<ol>
  <li>Моделирование как метод познания.</li>
  <li>Формы представления моделей.</li>
  <li>Формализация.</li>
  <li>Типы информационных моделей.</li>
  <li>Основные этапы разработки и исследования моделей на компьютере.</li>
  <li>Исследование физических моделей.</li>
  <li>Исследование математических моделей.</li>
  <li>Биологические модели развития популяций.</li>
  <li>Геоинформационные модели.</li>
  <li>Оптимизационное моделирование в экономике.</li>
  <li>Экспертные системы распознавания химических веществ.</li>
</ol>
