title=Электронные таблицы и математическое моделирование
date=2018-12-18
type=post
tags=lec
status=published
~~~~~~


<ol>
  <li>
    <div>С помощью электронной таблицы смоделировать старт ракеты с космодрома (записать таблицу в режиме отображения формул).</div>
    <div>Первоначально ракета находится в неподвижном вертикальном состоянии. Исходная масса ракеты (вместе с топливом)  M<sub>0</sub> = 100 тонн. Сила тяги ракетного двигателя постоянна F=108 ньютонов. После старта ракета движется ускоренно вертикально вверх. При расчете движения учитывается сопротивление атмосферного воздуха, которое прямо пропорционально квадрату скорости. Для упрощения задачи коэффициент сопротивления считается постоянным k = 1,6 кг/м. Также учтем уменьшение массы ракеты вследствие сгорания топлива, скорость сгорания топлива будем считать постоянной a = 100 :3/A. Пренебрежем зависимостью ускорения свободного падения от высоты, т.е. будем считать его постоянным g = 9,8 м/c<sup>2</sup>.</div>
  </li>
</ol>

<p class="c-text"><!--text--><strong>Математическая модель.</strong> Обозначим через V<sub>n</sub>, H<sub>n</sub>, M<sub>n</sub> - соответственно скорость, высоту подъема и массу ракеты через n  секунд после старта. Для их вычисления используются формулы:</p>

<ul style="color: #316AC5;">
  <li>M<sub>n</sub> V<sub>n</sub> − M<sub>n − 1</sub> V<sub>n − 1</sub> = F − k V<sub>n − 1</sub><sup>2</sup> − g (M<sub>n − 1</sub> + M<sub>n</sub>) / 2;</li>
  <li>V<sub>n</sub> = (M<sub>n − 1</sub> V<sub>n − 1</sub> + F - k V<sub>n − 1</sub><sup>2</sup> - g (M<sub>n − 1</sub> + M<sub>n</sub>) / 2) / M<sub>n</sub>;</li>
  <li>H<sub>n</sub> = H<sub>n − 1</sub> + (V<sub>n − 1</sub> + V<sub>n</sub>) / 2;</li>
  <li>M<sub>n</sub> = M<sub>n − 1</sub> − α;</li>
  <li>n = 1, 2, 3, ...</li>
</ul>

<p class="c-text"><!--text-->Очевидно, что в V<sub>0</sub> = 0, H<sub>0</sub> = 0, M<sub>0</sub> = 100000.
Требуется создать электронную таблицу, которая автоматически решает следующие подзадачи:</p>

<ol>
  <li>Производит расчет — в какой момент времени от старта и на какой высоте (в км) ракета достигнет первой космической скорости: 7,8 км/с.</li>
  <li>Определяет какой будет масса ракеты в этот момент.</li>
</ol> 
