title=Табличные модели
date=2018-12-20
type=post
tags=lec
status=published
~~~~~~


<p class="c-text"><!--text-->Использование табличной модели часто облегчает решение информационно задачи. В следующей таблице закрашенные клетки в расписании занятий соответствуют урокам физкультуры в 9&#150;11 классах средней школы.</p>

<table class="c-table c-table__width--half">
  <caption>Расписание занятий</caption>
  <tr>
    <th class="c-table__head">№ урока</th>
    <th class="c-table__head">9а</th>
    <th class="c-table__head">9б</th>
    <th class="c-table__head">10а</th>
    <th class="c-table__head">10б</th>
    <th class="c-table__head">11а</th>
    <th class="c-table__head">11б</th>
  </tr>
  <tr>
    <th class="c-table__head">1</th>
    <td class="c-table__cell c-table__cell--grey">&nbsp;</td>
    <td class="c-table__cell">&nbsp;</td>
    <td class="c-table__cell">&nbsp;</td>
    <td class="c-table__cell c-table__cell--grey">&nbsp;</td>
    <td class="c-table__cell">&nbsp;</td>
    <td class="c-table__cell">&nbsp;</td>
  </tr>
  <tr>
    <th class="c-table__head">2</th>
    <td class="c-table__cell c-table__cell--grey">&nbsp;</td>
    <td class="c-table__cell">&nbsp;</td>
    <td class="c-table__cell c-table__cell--grey">&nbsp;</td>
    <td class="c-table__cell c-table__cell--grey">&nbsp;</td>
    <td class="c-table__cell">&nbsp;</td>
    <td class="c-table__cell">&nbsp;</td>
  </tr>
  <tr>
    <th class="c-table__head">3</th>
    <td class="c-table__cell">&nbsp;</td>
    <td class="c-table__cell c-table__cell--grey">&nbsp;</td>
    <td class="c-table__cell c-table__cell--grey">&nbsp;</td>
    <td class="c-table__cell">&nbsp;</td>
    <td class="c-table__cell">&nbsp;</td>
    <td class="c-table__cell">&nbsp;</td>
  </tr>
  <tr>
    <th class="c-table__head">4</th>
    <td class="c-table__cell">&nbsp;</td>
    <td class="c-table__cell c-table__cell--grey">&nbsp;</td>
    <td class="c-table__cell">&nbsp;</td>
    <td class="c-table__cell">&nbsp;</td>
    <td class="c-table__cell c-table__cell--grey">&nbsp;</td>
    <td class="c-table__cell">&nbsp;</td>
  </tr>
  <tr>
    <th class="c-table__head">5</th>
    <td class="c-table__cell">&nbsp;</td>
    <td class="c-table__cell">&nbsp;</td>
    <td class="c-table__cell">&nbsp;</td>
    <td class="c-table__cell">&nbsp;</td>
    <td class="c-table__cell c-table__cell--grey">&nbsp;</td>
    <td class="c-table__cell c-table__cell--grey">&nbsp;</td>
  </tr>
  <tr>
    <th class="c-table__head">6</th>
    <td class="c-table__cell">&nbsp;</td>
    <td class="c-table__cell">&nbsp;</td>
    <td class="c-table__cell">&nbsp;</td>
    <td class="c-table__cell">&nbsp;</td>
    <td class="c-table__cell">&nbsp;</td>
    <td class="c-table__cell c-table__cell--grey">&nbsp;</td>
  </tr>
</table>

<p class="c-text"><!--text-->Выполните следующие задания:</p>

<ul>
  <li>определите, какое минимальное количество учителей физкультуры требуется при таком расписании;</li>
  <li>найдите один из вариантов расписания, при котором можно обойтись двумя учителями физкультуры;</li>
  <li>в школе три учителя физкультуры: Иванов, Петров, Сидоров; распределите между ними уроки в таблице так, чтобы ни у кого не было «окон» (пустых уроков);</li>
  <li>распределите между тремя учителями уроки так, чтобы нагрузка у всех была одинаковой</li>
</ul>

<p class="c-text"><!--text-->Приведите примеры таблиц, с которыми вам приходится иметь дело в школе и дома. Определите тип, к которому они относятся: «объект-свойство» или «объект-объект».</p>

<p class="c-text"><!--text-->В компьютерной сети узловым является сервер, с которым непосредственно связаны все остальные серверы. Дана следующая двоичная матрица. В ней С1, С2, С3, С4, С5 - обозначения серверов сети. Определите, какой сервер является узловым.</p>

<table class="c-table c-table__width--half">
  <tr>
    <th class="c-table__head">&nbsp;</th>
    <th class="c-table__head">C1</th>
    <th class="c-table__head">C2</th>
    <th class="c-table__head">C3</th>
    <th class="c-table__head">C4</th>
    <th class="c-table__head">C5</th>
  </tr>
  <tr>
    <th class="c-table__head">C1</th>
    <td class="c-table__cell">1</td>
    <td class="c-table__cell">0</td>
    <td class="c-table__cell">0</td>
    <td class="c-table__cell">1</td>
    <td class="c-table__cell">0</td>
  </tr>
  <tr>
    <th class="c-table__head">C2</th>
    <td class="c-table__cell">0</td>
    <td class="c-table__cell">1</td>
    <td class="c-table__cell">0</td>
    <td class="c-table__cell">1</td>
    <td class="c-table__cell">0</td>
  </tr>
  <tr>
    <th class="c-table__head">C3</th>
    <td class="c-table__cell">0</td>
    <td class="c-table__cell">0</td>
    <td class="c-table__cell">1</td>
    <td class="c-table__cell">1</td>
    <td class="c-table__cell">0</td>
  </tr>
  <tr>
    <th class="c-table__head">C4</th>
    <td class="c-table__cell">1</td>
    <td class="c-table__cell">1</td>
    <td class="c-table__cell">1</td>
    <td class="c-table__cell">1</td>
    <td class="c-table__cell">1</td>
  </tr>
  <tr>
    <th class="c-table__head">C5</th>
    <td class="c-table__cell">0</td>
    <td class="c-table__cell">0</td>
    <td class="c-table__cell">0</td>
    <td class="c-table__cell">1</td>
    <td class="c-table__cell">1</td>
  </tr>
</table>

<p class="c-text"><!--text-->Придумайте свой пример двоичной матрицы.</p>
