title=Имитационные модели в электронной таблице. Продолжение.
date=2018-12-15
type=post
tags=lec
status=published
~~~~~~


<ol>
  <li>В каких случаях удобно использовать методы имитационного моделирования?</li>
  <li>С помощью электронных таблиц смоделировать поведение следующей системы.</li>
</ol>

<p class="c-text"><!--text-->Рассматривается популяция простейших организмов, генетический код которых имеет информационную емкость 6 битов.</p>

<p class="text"><!--text-->Передача наследственных признаков происходит по следующему правилу: четные (номера мест слева направо) гены наследуются от деда, а нечетные — от отца. Для удобства идентификации этих организмов будем использовать следующий прием — рассматривая цепочку числового представления генов как шестизначное двоичное число, каждой особи можно поставить в соответствие его десятичное значение.</p>

<table class="c-table c-table__width--half">
  <caption>Пример</caption>
  <tr>
    <th class="c-table__head">Представитель поколения</th>
    <td class="c-table__cell">«Дед»</td>
    <td class="c-table__cell">«Отец»</td>
    <td class="c-table__cell">«Сын»</td>
  </tr>
  <tr>
    <th class="c-table__head">Двоичный код</th>
    <td class="c-table__cell">(011010)</td>
    <td class="c-table__cell">(000111)</td>
    <td class="c-table__cell">(010010)</td>
  </tr>
  <tr>
    <th class="c-table__head">Десятичный код</th>
    <td class="c-table__cell">26</td>
    <td class="c-table__cell">7</td>
    <td class="c-table__cell">18</td>
  </tr>
</table>

<p class="c-text"><!--text-->Смоделировать последовательность особей этой популяции с помощью электронных таблиц. При этом, исходные данные (два первых члена последовательности) задаются в виде целых десятичных чисел.  

<p class="c-text"><!--text-->Рассчитать последовательность длиной в 6 поколений, если первые два имеют десятичные коды 45 и 17, соответственно.</p>

<p class="c-text"><!--text-->Записать полученную таблицу в режиме отображения формул.</p>
