title=Математическое моделирование
date=2018-12-10
type=post
tags=lec
status=published
~~~~~~

<div class="c-define"><dfn class="c-definition">Математическая модель</dfn> — способ представления информационной модели, отображающий связь различных параметров объекта через математические формулы и понятия.</div>

<p class="c-text"><!--text-->Все естественные и общественные науки, использующие математический аппарат, по сути занимаются математическим моделированием: заменяют реальный объект его моделью и затем изучают последнюю.</p>

<p class="c-text"><!--text-->Содержательная классификация моделей:</p>

<ol>
  <li><em>Гипотеза</em> (такое могло бы быть)</li>
  <li><em>Феноменологическая модель</em> (ведем себя так, как если бы...)</li>
  <li><em>Приближение</em> (что-то считаем очень большим или очень малым)</li>
  <li><em>Упрощение</em> (опустим для ясности некоторые детали)</li>
  <li><em>Эвристическая модель</em> (количественного подтверждения нет, но модель способствует более глубокому проникновению в суть дела)</li>
  <li><em>Аналогия</em> (учтём только некоторые особенности)</li>
  <li><em>Мысленный эксперимент</em> (главное состоит в опровержении возможности)</li>
  <li><em>Демонстрация возможности</em> (главное — показать внутреннюю непротиворечивость возможности)</li>
</ol>

<p class="c-text"><!--text-->В основе содержательной классификации — этапы, предшествующие математическому анализу и вычислениям. Восемь типов моделей по Р. Пайерлсу — есть восемь типов исследовательских позиций при моделировании. Важнейшие математические модели обычно обладают важным свойством универсальности: принципиально разные реальные явления могут описываться одной и той же математической моделью.</p>

<p class="c-text"><!--text-->Таким образом, изучая одну математическую модель, мы изучаем сразу целый класс описываемых ею явлений.</p>
