title=Имитационные модели в электронной таблице
date=2018-12-26
type=post
tags=lec
status=published
~~~~~~


<p class="c-text"><!--text-->Рассматривается популяция простейших организмов, генетический код которых имеет информационную емкость 6 битов.</p>
<p class="c-text"><!--text-->Передача наследственных признаков происходит по следующему правилу: четные (номера мест слева направо) гены наследуются от деда, а нечетные — от отца. Для удобства идентификации этих организмов будем использовать следующий прием — рассматривая цепочку числового представления генов как шестизначное двоичное число, каждой особи можно поставить в соответствие его десятичное значение.</p>

<p class="c-text"><!--text-->Смоделировать последовательность особей этой популяции с помощью электронных таблиц. При этом, исходные данные (два первых члена последовательности) задаются в виде целых десятичных чисел.</p>

<p class="c-text"><!--text-->Рассчитать последовательность длиной в 6 поколений, если первые два имеют десятичные коды 45 и 17, соответственно.</p>

<p class="c-text"><!--text-->Записать полученную таблицу в режиме отображения формул.</p>
