title=Информационное моделирование
date=2018-12-03
type=post
tags=lec
status=published
~~~~~~

<div class="c-define"><dfn class="c-definition">Информационная модель</dfn> — это совокупность информации об объекте, описывающая свойства и состояние объекта, процесса или явления, а также связи и отношения с окружающим миром.</div>

<p class="c-text"><!--text-->Информационные модели представляют объекты в виде, словесных описаний, текстов, рисунков, таблиц, схем, чертежей, формул и т.д. Информационную модель нельзя потрогать, у нее нет материального воплощения, она строится только на информации. Ее можно выразить на языке описания (знаковая модель) или языке представления (наглядная модель).</p>

<p class="c-text"><!--text--><em>Воображаемое</em> (мысленное или интуитивное) моделирование — это мысленное представление об объекте. Такие модели формируются в воображении человека и сопутствуют его сознательной деятельности. Они всегда предшествуют созданию материального объекта, материальной и информационной модели, являясь одним из этапов творческого процесса. Например, музыкальная тема в мозгу композитора — интуитивная модель музыкального произведения.</p>

<p class="c-text"><!--text--><em>Вербальное</em> моделирование (относится к знаковым) — это представление информационной модели средствами естественного разговорного языка (фонемами). Мысленная модель, выраженная в разговорной форме, называется вербальной (от латинского слова verbalize — устный). Форма представления такой модели — устное или письменное сообщение. Примерами являются литературные произведения, информация в учебных пособиях и словарях, инструкции пользования устройством, правила дорожного движения.</p>

<p class="c-text"><!--text--><em>Наглядное</em> (выражено на языке представления) моделирование — это выражение свойств оригинала с помощью образов. Например, рисунки, художественные полотна, фотографии, кинофильмы. При научном моделировании понятия часто кодируются рисунками — иконическое моделирование. Сюда же относятся геометрические модели — информационные модели, представленные средствами графики.</p>

<p class="c-text"><!--text-->Образно-знаковое моделирование использует знаковые образы какого-либо вида: схемы, графы, чертежи, графики, планы, карты. Например, географическая карта, план квартиры, родословное дерево, блок-схема алгоритма. К этой группе относятся структурные информационные модели, создаваемые для наглядного изображения составных частей и связей объектов. Наиболее простые и распространенные информационные структуры — это таблицы, схемы, графы, блок-схемы, деревья.</p>

<p class="c-text"><!--text--><em>Знаковое</em> (символическое выражено на языке описания) моделирование  использует алфавиты формальных языков: условные знаки, специальные символы, буквы, цифры и предусматривает совокупность правил оперирования с этими знаками. Примеры: специальные языковые системы, физические или химические формулы, математические выражения и формулы, нотная запись и т. д.</p> 
