title=Виды моделирования
date=2018-12-02
type=post
tags=lec
status=published
~~~~~~

<ol>
  <li><a href="page03.html">Информационное</a></li>
  <li><a href="page07.html">Компьютерное</a></li>
  <li><a href="page09.html">Имитационное</a></li>
  <li><a href="page10.html">Математическое</a></li>
  <li><a href="page11.html">Графическое</a></li>
</ol>
