title=Информационное моделирование на компьютере
date=2018-12-13
type=post
tags=lec
status=published
~~~~~~


<ol>
  <li>В каких случаях невозможно обойтись без вычислительного эксперимента?</li>
  <li>В чём особенность имитиационных моделей?</li>
  <li>Расчёт прогноза погоды на современном компьютере с быстродействием 1 млн.операций в секунду длится в течение 1 часа. Оцените, сколько времени понадобилось бы для этого человеку, имеющему в своём распоряжении арифмометр (механический калькулятор), выполнение одной операции на котором занимает 10 секунд?</li>
  <li>Придумайте по одному примеру формы использования компьютерной графики для вычислительного эксперимента, для компьютерного управления и для имитационной модели.</li>
  <li>Самолёт находится на высоте 5000 метров. Обнаружилась неисправность работы двигателя. Самолёт начал падать. Бортовой компьютер производит диагностику неисправности и сообщает пилоту о необходимых действиях. Для решения этой задачи ему нужно выполнить 10<sup>8</sup> вычислительных операций. Быстродействие компьютера — 1 млн. операций в секунду. Успеет ли лётчик спасти самолёт, если минимальная высота, на которой самолёт можно вывести из пике, — 2000 метров?</li>
</ol>
