title=Компьютерное моделирование
date=2018-12-07
type=post
tags=lec
status=published
~~~~~~


<p class="c-text"><!--text-->В тех случаях, когда моделирование ориентировано на исследование моделей с помощью компьютера, одним из его этапов является разработка компьютерной модели.</p>

<div class="c-define"><dfn class="c-definition">Компьютерная модель</dfn> — это созданный за счет ресурсов компьютера виртуальный образ, качественно и количественно отражающий внутренние свойства и связи моделируемого объекта, иногда передающий и его внешние характеристики.</div>

<p class="c-text"><!--text-->Компьютерная модель представляет собой материальную модель, воспроизводящую внешний вид, строение или действие моделируемого объекта посредством электромагнитных сигналов. Разработке компьютерной модели предшествуют мысленные, вербальные, структурные, математические и алгоритмические модели.</p>

<p class="c-text"><!--text-->Решение задачи включает следующие этапы:</p>

<ol>
  <li>Содержательная постановка задачи;
  <li>Системный анализ;</li>
  <li>Системный синтез (математическая постановка задачи);</li>
  <li>Разработка или выбор программного обеспечения;</li>
  <li>Решение задачи</li>
</ol>

<p class="c-text"><!--text-->Для сложных задач выбор метода решения, как правило, состоит из нескольких шагов. Сначала обсуждаются наиболее крупные действия, а уж затем может быть последовательно реализовано каждое из них. Для очень простых задач метод решения можно даже не записывать на бумаге.</p>

<p class="c-text"><!--text-->Использование компьютера при моделировании возможно по трем направлениям:</p>

<ol>
  <li><em>Вычислительное</em> — прямые расчеты по программе;</li>
  <li><em>Инструментальное</em> — построение базы знаний, для преобразования ее в алгоритм и программу;</li>
  <li><em>Диалоговое</em> — поддержание интерфейса между исследователем и компьютером;</li>
</ol>
