title=Имитационное моделирование
date=2018-12-09
type=post
tags=lec
status=published
~~~~~~


<div class="c-define"><dfn class="c-definition">Имитационное моделирование</dfn> — это метод исследования, при котором изучаемая система заменяется моделью с достаточной точностью описывающей реальную систему и с ней проводятся эксперименты с целью получения информации об этой системе.</div>

<p class="c-text"><!--text-->Экспериментирование с моделью называют <em>имитацией.</em></p>

<div class="c-define"><dfn class="c-definition">Имитация</dfn> — это постижение сути явления, не прибегая к экспериментам на реальном объекте).</div>

<p class="c-text"><!--text-->К имитационному моделированию прибегают, когда:</p>

<ul>
  <li>Дорого или невозможно экспериментировать на реальном объекте;</li>
  <li>Невозможно построить аналитическую модель: в системе есть время, причинные связи, последствие, нелинейности, стохастические (случайные) переменные;</li>
  <li>Необходимо сымитировать поведение системы во времени;</li>
</ul>

<p class="c-text"><!--text-->Цель имитационного моделирования состоит в воспроизведении поведения исследуемой системы на основе результатов анализа наиболее существенных взаимосвязей между ее элементами или другими словами – разработке симулятора исследуемой предметной области для проведения различных экспериментов.</p>

<p class="c-text"><!--text-->Имитационное моделирование позволяет имитировать поведение системы, во времени. При чём плюсом является то, что временем в модели можно управлять: замедлять в случае с быстропротекающими процессами и ускорять для моделирования систем с медленной изменчивостью. Можно имитировать поведение тех объектов реальные эксперименты с которыми, дороги, невозможны или опасны.</p>

<p class="c-text"><!--text-->Имитация, как метод решения нетривиальных задач, получила начальное развитие в связи с созданием ЭВМ в 1950-х – 1960-х годах.</p>

<p class="c-text"><!--text-->Области применения: бизнес процессы, боевые действия, динамика населения, ИТ-инфраструктура, математическое моделирование исторических процессов, логистика, пешеходная динамика, производство, рынок и конкуренция, сервисные центры, уличное движение, экосистемы.</p>

<p class="c-text"><!--text-->Популярные системы имитационного моделирования: AnyLogic, Arena, eM-Plant, Powersim, GPSS.</p>
