title=Имитационные модели в электронной таблице
date=2018-12-14
type=post
tags=lec
status=published
~~~~~~

<p class="c-text"><!--text-->С помощью электронных таблиц промоделировать «Линейную жизнь», развивающуюся по следующим законам.</p>

<p class="c-text"><!--text-->«Поле жизни» состоит из 10 клеток, в каждой из которых «Жизнь» может быть или нет. Слева от «Поля жизни» «Жизни» нет никогда, справа — «Жизнь» есть всегда. Каждый день наличие или отсутствие «Жизни» в клетке определяется состоянием «Поля жизни» в предыдущий день по следующим правилам:</p>

<ul>
  <li><em>ситуация «перенаселение»</em> — если в двух ближайших соседних (слева и справа) клетках «Жизнь» была, то в текущей клетке она или исчезает (если она там была) или так и не появляется (если ее там не было);</li>
  <li><em>ситуация «размножение»</em> — если только в одной из ближайших соседних клеток (слева или справа) «Жизнь» была, то в текущей клетке она или сохраняется (если она там была) или появляется (если ее там не было);</li>
  <li><em>ситуация «одиночество»</em> — если ни в одной из ближайших соседних клеток (слева и справа) «Жизни» не было, то в текущей клетке она или исчезает (если она там была) или так и не появляется (если ее там не было).</li>
</ul>

<p class="c-text"><!--text-->В первый день моделирования в «Поле жизни» нет ни одной клетки с «Жизнью». В таблице клетки с «Жизнью» обозначаются буквой Ж. Поведение такой системы в первые 5 дней представлено ниже.</p>

<p class="c-text"><!--text--><img src="../img/object5.png" class="Игра Жизнь" width="323" height="152"></p>

<p class="c-text"><!--text-->Провести моделирование, чтобы получить ответ на следующие вопросы:</p>

<ul>
  <li>Развивается ли эта система по периодическому закону, если «да», то какова длина периода (в днях). Получить таблицу на полный период, если таковой обнаружится, в противном случае - на 100 дней.</li>
  <li>Вычислить, в пределах полученной таблицы, для каждой клетки количество дней, когда в ней была «Жизнь».</li>
  <li>Вычислить сколько «Жизней» есть в «Поле жизни» в каждый текущий день, полученные при этом данные изобразить в виде графика.</li>
</ul>
