title=Тренировочный тест. Табличные модели
date=2018-12-24
type=flashpage
tags=lec
status=published
~~~~~~


<object type="application/x-shockwave-flash" data="../flash/flash5.swf" width="700" height="700">
  <param name="movie" value="../flash/flash5.swf" />
  <param name="quality" value="normal" />
  <param name="wmode" value="opaque" />
 <embed src="../flash/flash5.swf" type="application/x-shockwave-flash" width="700" height="700">
 </object>
 