title=Практический модуль. Имитационное моделирование
date=2018-12-22
type=flashpage
tags=lec
status=published
~~~~~~


<object type="application/x-shockwave-flash" data="../flash/flash3.swf" width="700" height="700">
 <param name="movie" value="index.files/flash3.swf" />
 <param name="quality" value="normal" />
 <param name="wmode" value="opaque" />
 <embed src="../flash/flash3.swf" type="application/x-shockwave-flash" width="700" height="700">
</object>
