title=Тренировочный тест. Математическое моделирование
date=2018-12-23
type=flashpage
tags=lec
status=published
~~~~~~


<object type="application/x-shockwave-flash" data="../flash/flash4.swf" width="700" height="700">
 <param name="movie" value="../flash/flash4.swf" />
 <param name="quality" value="normal" />
 <param name="wmode" value="opaque" />
 <embed src="../flash/flash4.swf" type="application/x-shockwave-flash" width="700" height="700">
</object>
