title=Тренировочный тест. Информационное моделирование
date=2018-12-19
type=flashpage
tags=lec
status=published
~~~~~~


<object type="application/x-shockwave-flash" data="../flash/flash2.swf" width="700" height="700">
 <param name="movie" value="index.files/flash2.swf" />
 <param name="quality" value="normal" />
 <param name="wmode" value="opaque" />
 <embed src="../flash/flash2.swf" width="700" height="700" type="application/x-shockwave-flash">
</object>
