title=Тест. Информационное моделирование
date=2018-12-16
type=flashpage
tags=lec
status=published
~~~~~~


<object type="application/x-shockwave-flash" data="../flash/flash1.swf" width="700" height="700">
 <param name="movie" value="index.files/flash1.swf" />
 <param name="quality" value="normal" />
 <param name="wmode" value="opaque" />
 <embed src="../flash/flash1.swf" width="700" height="700" type="application/x-shockwave-flash">
</object>
