title=Тренировочный тест. Графические модели
date=2018-12-25
type=flashpage
tags=lec
status=published
~~~~~~


<object type="application/x-shockwave-flash" data="../flash/flash6.swf" width="700" height="700">
 <param name="movie" value="../flash/flash6.swf" />
 <param name="quality" value="normal" />
 <param name="wmode" value="opaque" />
<embed src="../flash/flash6.swf" type="application/x-shockwave-flash" width="700" height="700">
</object>
