/*
 * Separate yellow theme
 * (c) 2018 Vladimir Stadnik, 11.12.2018, 23:58
 */

.c-body--theme-yellow {
  background-color: #ffc;
}

.c-body--theme-yellow .c-title-header {
  color: #cd853f;
}

.c-body--theme-yellow .c-title-article {
  color: #494949;
}

.c-body--theme-yellow .c-define {
  border: 3px solid goldenrod;
  background-color: palegoldenrod;
}

.c-body--theme-yellow .c-define:hover {
  border-color: #be921b;
  background-color: #e0d567;
}

.c-body--theme-yellow .tab-title {
  color: #0043ce;
  border-bottom: 1px dashed #0043ce;
}

.c-body--theme-yellow .clock-interactive {
  color: goldenrod;
  background-color: palegoldenrod;
}