/*
 * Separate flash theme
 * (c) 2018 Vladimir Stadnik, 11.12.2018, 23:58
 */

.c-body--theme-flash {
  background-color: #ecf5f7;
  text-align: justify;
}

.c-body--theme-flash .c-title-header {
  color: #004183;
}

.c-body--theme-flash .c-title-article {
  color: #494949;
}

.c-body--theme-flash .c-define {
  border: 3px solid #23a3a3;
  background-color: #afeeee;
}

.c-body--theme-flash .c-define:hover {
  border-color: #1d8181;
  background-color: #5fdcdc;
}

.c-body--theme-flash .tab-title {
  color: #0043ce;
  border-bottom: 1px dashed #0043ce;
}

.c-body--theme-flash .clock-interactive {
  color: steelblue;
  background-color: #afeeee;
}